# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
server/uploads/*
!server/uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Workspace files
*.code-workspace

# Build
dist/
build/
